body{
    background-color:lightpink;
    text-align: center;
}
#header{
padding: 5px;
}

input{
    padding: 10px;
    border-radius: 5px;
}

#dropbox{
    padding: 10px;
    border-radius: 5px;
    width: 15%;
}
#btn{
    padding: 5px;
    font-size: 15px;
    background-color:skyblue;
    color: #000;
    border-radius: 5px;
}
